<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Previsão - Produto</title>
    <link rel="stylesheet" href="./static/css/bootstrap.min.css">
    <script src="./static/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <form>
            <select >
                {%for p_type in packing_types%}
                    <option value={{p_type}}>{{p_type}}</option>
                {%endfor%}
            </select>
        </form>
    </div>
    
</body>
</html>